body {
    background-color:saddlebrown;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    letter-spacing: 2px;
    margin-top: 30px;
}